body{
  font-family: "Montserrat", sans-serif;
  background-color: rgb(95,122,95);
  padding: 100px;
}
h1{
  text-transform: uppercase;
  font-size:35px;
  color:white;
}
p{
  font-size:25px;
  color: white;
}
li{
  font-size:25px;
  color:white;
}
a{
color: inherit; 
  text-decoration: none;
}
.w3-content {
  max-width:1500px;
  margin: auto;
}
